.eric6project/
.ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
/build
/dist
/repcloud.egg-info
/repcloud/.Python
/repcloud/.gitignore
/repcloud/bin/
/repcloud/lib/
/repcloud/pyvenv.cfg